
  <p id="page-heading">Welcome to CSE Motors!</p>
  <%-messages() %>
  <div class="hero">
    <picture id="hero-img">
      <source
        srcset="/images/vehicles/delorean-tn.jpg"
        media="(max-width: 600px)">
      <img
        id="hero-large"
        src="/images/vehicles/delorean.jpg"
        alt="Delorean Car">
    </picture>
    <div id="side-section">
      <p id="section-heading" class="section-text">DMC Delorean</p>
      <p class="section-text">3 Cup holders</p>
      <p class="section-text">Superman doors</p>
      <p class="section-text">Fuzzy dice!</p>
      <img id="own-button" src="/images/site/own_today.png" alt="Own Today Button">
    </div>
  </div>
  <div id="bottom-section">
    <section id="section-1" class="product">
      <h3 class="bottom-headings">DMC Delorean Reviews</h3>
      <ul>
        <li class="review">
          "So fast it's almost like traveling in time." (4/5)
        </li>
        <li class="review">"Coolest ride on the road." (4/5)</li>
        <li class="review">"I'm feeling McFly!" (5/5)</li>
        <li class="review">"The most futuristic ride of our day." (4.5/5)</li>
        <li class="review">"80's living and I love it!" (5/5)</li>
      </ul>
    </section>
    <section id="section-2" class="product">
      <h3 id="section-2-heading" class="bottom-headings">Delorean Upgrades</h3>
      <div id="products-section">
        <div id="product-1" class="product">
          <div class="product-image">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
          </div>
          <a class="product-link" href="#">Flux Capacitor</a>
        </div>
        <div id="product-2" class="product">
          <div class="product-image">
            <img src="/images/upgrades/flame.jpg" alt="Flames Decal">
          </div>
          <a class="product-link" href="#">Flame Decal</a>
        </div>
        <div id="product-3" class="product">
          <div class="product-image">
            <img
              src="/images/upgrades/bumper_sticker.jpg"
              alt="Bumper Sticker">
          </div>
          <a class="product-link" href="#">Bumper Stickers</a>
        </div>
        <div id="product-4" class="product">
          <div class="product-image">
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
          </div>
          <a class="product-link" href="#">Hub Cap</a>
        </div>
      </div>
    </section>
  </div>
